main {
  background-color: var(--main-color);
  min-height: 84vh;
  max-height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.container-dropdown {
  color: var(--third-color);
  background-color: var(--second-color);
  min-height: 84vh;
  max-width: 15vw;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 1.5em;
}
