main {
  background-color: var(--main-color);
  max-height: 84vh;
  overflow-y: scroll;
}

.container {
  display: flex;
}

.container-dropdown {
  grid-area: 1 / 1 / 12 / 2;
  color: var(--third-color);
  background-color: var(--second-color);
  min-height: 84vh;
  min-width: 15vw;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-top: 0.5vh;
  position: sticky;
}

.messages-container {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: repeat(11, 1fr);
  padding-left: 5em;
  padding-top: 0.5em;
}

.userMessages {
  grid-area: 1 / 2 / 12 / 3;
}

.otherUserMessages {
  grid-area: 1 / 3 / 12 / 3;
}
