.otherMessage-container {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
}

.otherMessage-container__card {
  display: flex;
  gap: 0.5em;
}

.otherUser__picture {
  width: 60px;
  border-radius: 50%;
  border: 1px solid white;
}

.otherMessage__content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--second-color);
  border-radius: 16px;
  width: 20vw;
}
