.message-container {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  margin-bottom: 0.5em;
}

.message-container__card {
  display: flex;
  gap: 0.5em;
}

.user-picture {
  width: 60px;
  border-radius: 50%;
  border: 1px solid black;
}

.Message-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: var(--third-color);
  border-radius: 16px;
  width: 20vw;
}
